<div class="login-container">
  <form class="login-form">
    <h1 class="login-title">Login Page</h1>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required />
      <mat-error *ngIf="!email">Email is required</mat-error>
      <mat-error *ngIf="email && !email.includes('@')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-btn">Login</button>
  </form>
</div>
